.headline-1 {
    font-family: 'SpeziaBookB';
    font-size: 76px;
    color: var(--dls-color-burgundy);
    line-height: 94px;
    letter-spacing: -5px;
}

.headline-2 {
    font-family: 'SpeziaBookB';
    font-size: 50px;
    color: var(--dls-color-burgundy);
    line-height: 60px;
    letter-spacing: -3px;
}

.headline-3 {
    font-family: 'SpeziaBookB';
    font-size: 30px;
    color: var(--dls-color-burgundy);
    line-height: 70px;
    letter-spacing: -2px;
}

.headline-4 {
    font-family: 'SpeziaBookB';
    font-size: 24px;
    color: var(--dls-color-burgundy);
    line-height: 25.5px;
    letter-spacing: -2px;
}

.small-caps {
    font-family: 'Jost';
    font-size: 16px;
    color: var(--dls-color-burgundy);
    line-height: 60px;
    letter-spacing: 0;
    font-weight: 400;
}

.long-paragraph {
    font-family: 'Jost';
    font-size: 24px;
    color: var(--dls-color-burgundy);
    line-height: 25.5px;
    letter-spacing: 0;
    font-weight: 300;
}