.headline-1 {
    font-family: 'SpeziaBookB';
    font-size: 76px;
    color: var(--dls-color-burgundy);
    line-height: 94px;
    letter-spacing: -5px;
}

.headline-2 {
    font-family: 'SpeziaBookB';
    font-size: 50px;
    color: var(--dls-color-burgundy);
    line-height: 60px;
    letter-spacing: -3px;
}

.headline-3 {
    font-family: 'SpeziaBookB';
    font-size: 30px;
    color: var(--dls-color-burgundy);
    line-height: 70px;
    letter-spacing: -2px;
}

.headline-4 {
    font-family: 'SpeziaBookB';
    font-size: 24px;
    color: var(--dls-color-burgundy);
    line-height: 25.5px;
    letter-spacing: -2px;
}

.small-caps {
    font-family: 'Jost';
    font-size: 16px;
    color: var(--dls-color-burgundy);
    line-height: 60px;
    letter-spacing: 0;
    font-weight: 400;
}

.long-paragraph {
    font-family: 'Jost';
    font-size: 24px;
    color: var(--dls-color-burgundy);
    line-height: 25.5px;
    letter-spacing: 0;
    font-weight: 300;
}

hr {
    border: none; 
    height: 1px; 
    background-color: var(--dls-color-burgundy); 
}

.book-consultation-btn-v1 {
    background: var(--dls-color-sunlight);
    color: var(--dls-color-burgundy);
    border-radius: 4px;
    padding: 12px 16px;
    cursor: pointer;
    border: 1px solid var(--dls-color-sunlight);

    &:hover {
        border: 1px solid var(--dls-color-burgundy);
    }
}

.book-consultation-btn-v2 {
    color: var(--dls-color-burgundy);
    border-radius: 4px;
    padding: 12px 16px;
    cursor: pointer;
    border: 1px solid var(--dls-color-burgundy);
    background: var(--dls-color-faf8de);
    width: fit-content;
    transition: all .3s ease;

    &:hover {
        background: var(--dls-color-sunlight);
        border: 1px solid var(--dls-color-sunlight);
    }
}