:root {
    --dls-color-white: #ffffff;
    --dls-color-black: #000000;
    --dls-color-burgundy: #39150A;
    --dls-color-sunlight: #F7EC9D;
    --dls-color-faf8de: #FAF8DE;
    --dls-color-c8a682: #C8A682;
}

* {
    outline: none !important;
}