:root {
    --dls-color-white: #ffffff;
    --dls-color-black: #000000;
    --dls-color-burgundy: #39150A;
    --dls-color-sunlight: #F7EC9D;
    --dls-color-faf8de: #FAF8DE;
    --dls-color-c8a682: #C8A682;
    --dls-color-95583c: #95583C;
    --dls-color-border: #D4C9B8;
    --dls-color-creamlight: #FBF8EF;
    --dls-color-cream: #F5F0E1;
    --dls-color-taupe-bg: #C4AA8B;

    --dls-aux-header-height: 34px;
    --dls-nav-header-height: 80px;
    --dls-max-width: 1400px;
}

* {
    outline: none !important;
}